.style {
    margin: 0 auto;
    max-width: 1500px;
    text-align: center;
    margin-bottom: 100px;
    padding: 0 clamp(30px, 5vw, 60px);
}

.style>div:first-child {
    margin-bottom: 75px;
    font-size: 1.1em;
    color: #525252;
    text-transform: uppercase;
}

.grider {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}


@media (max-width: 1200px) {
  .grider {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .grider {
    grid-template-columns: 1fr;
  }
}