body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(57, 60, 88);
    margin-left: 50px;
    margin-right: 50px;
}

.program{
    display: grid;
    grid-template-columns: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}


.program.random{
    display: flex;
    box-sizing: border-box;
}

.box.N1{
    width: 500px;
    height: 300px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(136, 130, 150);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.box.N2{
    width: 400px;
    height: 400px;
    background: linear-gradient(180deg,rgba(182, 145, 197, 1) 17%, rgba(150, 145, 197, 1) 52%, rgba(83, 96, 237, 1) 100%);
    border-radius: 10px;
    padding: 25px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.random_num_style{
    font-size: 3em;
    letter-spacing: 5px;
    color: black;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: black;
}


@keyframes text_animation{
    0%{color: white;}
    100%{color: black;}
}

.RGB_text{
    animation-name: text_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}