body{
    font-family: 'Courier New', Courier, monospace;
}

.program{
    margin-top: 100px;
    margin-bottom: 100px;
}


.program.random{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.box{
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg,rgba(182, 145, 197, 1) 17%, rgba(150, 145, 197, 1) 52%, rgba(83, 96, 237, 1) 100%);
    border-radius: 10px;
    padding: 25px;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.random_num_style{
    font-size: 3em;
    letter-spacing: 5px;
    color: black;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: black;
}


@keyframes text_animation{
    0%{color: white;}
    100%{color: black;}
}

.RGB_text{
    animation-name: text_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}