.style {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;  
    width: 700px;
    margin: 0 auto;
    margin-bottom: 175px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 175px auto;
    text-align: center;
    font-size: clamp(40px, 10vw, 160px);
    font-weight: 100;   
    
}