.pos{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    
}

.grid img{
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

.box_center{
    width: 170%;
    height: 130%;
    background-color: white;
    color: black;
    z-index: 1;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    transform-origin: center;
    justify-self: center;
    margin-top: -50px;
}
.box_center>div:first-child{
    margin-top: 35px;
    font-size: 2.25em;
    font-family: sans-serif;
}
.box_center>div:nth-child(2){
    margin-top: 35px;
    line-height: 1.5;
    font-size: 1.10em;
    font-family: sans-serif;
}
.box_center>div:nth-child(3){
    margin: auto;
}
.box_center>div>a{
    background-color: #f15048;
    color: white;
    padding: 10px 30px;
    font-size: 1.25em;
    font-family: sans-serif;
}
.box_center>div>a:hover{
    background-color: #ef342b;
    color: #e6e6e6;
}

.box_1{
    display: flex;
    align-items: end;
    justify-content: end;
}

.box_1 img{
    margin-bottom: 20px;
    margin-right: 30px;
    width: 262px;
    height: 308px;
}

.box_2 img{
    height: 350px;
    margin-top: 150px;
}

.box_3{
    display: flex;
    align-items: end;
    justify-content: start;
}
.box_3 img{
    margin-left: 20px;
    width: 262px;
    height: 308px;
}

.box_4 img{
    width: 130%;
}

.box_6 img{
    width: 120%;
    margin-top: 30px;
}
.box_7{
    display: flex;
    align-items: start;
    justify-content: end;
}
.box_7 img{
    margin-top: 20px;
    margin-right: 30px;
    width: 280px;
    height: 170px;
    
}

.box_8 img{
    
}
.box_9{
    display: flex;
    align-items: start;
}
.box_9 img{
    margin-top: 20px;
    margin-left: 30px;
    width: 222px;
    height: 228px;
}