:root {
    --saleBgcolor: #fa3a47;
    --saleTextColor: #EDEADE;
    --salePriceColor: var(--saleBgcolor);
}

.card {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
    max-height: 250px;
}

.imageContainer {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #c8c8c8;
}

.image {
    max-width: 80%;
    max-height: 80%;
}


.saleBadge {
    position: absolute;
    top: 10px;
    right: -25px;
    background-color: var(--saleBgcolor);
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 5px 30px;
    transform: rotate(45deg);
    z-index: 2;
}

.title {
    font-size: 0.9em;
    font-weight: bold;
    color: #333;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.priceBox {
    display: flex;
    gap: 8px;
    align-self: start;
    font-size: 1.2em;
}

.regularPrice {
    color: #555;
}

.salePrice {
    color: var(--salePriceColor);
}

.oldPrice {
    text-decoration: line-through;
    color: #999;
    font-size: 0.75em;
}