.split_screen {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.screen_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 40px;
}

.screen_right {
    width: 50%;
    background: no-repeat;
    background-size: cover;
}

.login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    width: 100%;
    align-self: center;
}
.login_box>div:first-child {
    font-size: 4.5em;
    font-weight: bolder;
}
.login_box>div:nth-child(2) {
    font-size: 1.15em;
    color: #525252;
}

.login_box>div,.login_box>a {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
}

.box_line {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_line>div:nth-child(2) {
    color: #525252;
    font-size: 0.6em;
    font-weight: bold;
}

.or_line {
    height: 1px;
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
    border: rgba(200, 200, 200, 0.5) 1px solid;
}

.link_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link_btn>img {
    width: 20px;
    height: 20px;
}

@media (max-width: 900px) {
  .screen_right {
    width: 0;
  }
  .screen_left {
    width: 100%;
  }
}