.box{
    display: flex;
    max-width: 1500px;
    margin: 0 auto 100px;
    padding: clamp(40px, 10vw, 150px) clamp(25px, 7vw, 100px);
    align-items: center;
    cursor: default;
}

.left {
    position: relative;
}

.right {
    animation: none;
}

.bta{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.img{
    width: 200px;
    position: absolute;
    transform: rotate(-15deg);
    bottom: 150px;
    left: 500px;
    
}

.container {
    width: 800px;
    height: 360px;
    font-size: 6.75em;
    font-weight: 700;
    line-height: 0.9;
}


.anim_container {
    display: flex;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.color_strip {
    flex: 1;
    height: 100%;
    transition: background-color 0.2s;
}