.card {
    border: 2px solid rgb(236, 236, 236);
    border-radius: 15px;
    padding: 25px 0 25px 0;
    text-align: center;
    cursor: pointer;
    user-select: none;
    position: relative;

    transition: transform 0.2s,border-color 0.2s;
}

.card:hover,.card:hover>div:first-child {
    visibility: visible;
    transform: scale(1.07);
    border-color: rgb(206, 206, 206);
}

.card>div:first-child {
    font-size: 2em;
    font-weight: bold;
    text-align: end;
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 0;
}

.card>div:last-child {
    font-size: 2.5em;
    font-weight: bold;
}


