body{
    font-family: monospace;
    background-color: rgb(57, 60, 88);
    margin: 0;
}

.top{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.46) 30%, rgba(0, 0, 0, 0.27) 65%, rgba(0, 0, 0, 0) 100%);
}

.global_grid{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.header_anim{
    color: white;
    font-size: 2.5em;
    font-family: sans-serif;
    animation-name: header_text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.program{
    display: grid;
    grid-template-columns: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.box.N1{
    width: 550px;
    height: 400px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    color: white;
    text-shadow: 2px 2px rgb(5, 2, 153);
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box.N1>div:first-child{
    font-size: 1.5em;
}
.box.N1>div:last-child{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
}
.box.N1>div>div:last-child{
    margin-top: 25px;
    
}
.image_holder{
    width: 150px;
    height: 150px;
    display: flex;
}
.radio{
    width: 20px;
    height: 20px;
}


.box.N2{
    width: 400px;
    height: 400px;
    background: linear-gradient(180deg,rgba(182, 145, 197, 1) 17%, rgba(150, 145, 197, 1) 52%, rgba(83, 96, 237, 1) 100%);
    border-radius: 10px;
    padding: 25px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.pulse_text{
    animation-name: text_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
.random_num_style{
    font-size: 3em;
    letter-spacing: 5px;
    color: black;
}


.box.N3{
    display: flex;
    width: 500px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 25px;
}
.box.N3>div:first-child{
    margin-top: 25px;
    margin-bottom: 25px;
}
.box.N3>div:last-child{

}
.box.N3>div:last-child>img{
    margin-bottom: 10px;
    width: 150px;
}

.music-player{
    height: 50px;
    width: 150px;
    display: flex;
    color: black;
    background-color: white; 
    border-radius: 50px;
    padding: 0 5px 0 5px;
    margin: 10px;
}


.box.N4{
    width: 800px;
    height: 500px;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
}

.button{
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    text-shadow: none;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.button.black{
    background-color: black;
    color: white;
}
.button.black:hover{
    background-color: white;
    color: black;
}

.button.mini{
    padding: 5px;
    color: black;
}
.button.mini:hover{
    color: white;
}

.button.resume{
    width: auto;
    height: auto;
}


@keyframes header_text{
    0%{rotate: 0deg;}
    50%{rotate: 0deg;}
    75%{rotate: 0deg;}
    100%{rotate: 360deg;}
}

@keyframes text_animation{
    0%{color: white;}
    100%{color: black;}
}
