.colorful_case{
    display: flex;
}


.colorful_case>div{
    display: flex;
    margin-left: 15px;
    font-size: 5em;
    font-weight: bold;
}

@keyframes anim{
    0%,100%{color: var(--dynamic-1comma);}
}

.anim{
    animation-name: anim;
    animation-duration: 0.5s;
}