.colorful_case {
    display: flex;
    flex-direction: column;
    line-height: 0.9;
}


.colorful_case>div {
    display: flex;
    letter-spacing: 5px;
    font-size: 7em;
    font-weight: bold;
    font-family: sans-serif;
    flex-wrap: nowrap;
}
.colorful_case>div>div{
    position: relative;
}

@keyframes bounce {
    0%{left: 0px;}
    25%{rotate: 5deg;left: 10px;}
    50%{rotate: -5deg;left: -10px;}
    75%{rotate: 5deg;left: 10px;}
    100%{rotate: 0deg;left: 0px;}
}

.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
