body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
}

.output{
    color: red;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
}

.button_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.button{
    width: fit-content;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 5px;
}
.button:active{
    background-color: white;
    color: black;
}

input{
    background-color: black;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}