.container {
    width: 800px;
    height: 400px;
    font-size: 6.75em;
    font-weight: 700;
    line-height: 0.9;
}

.letter.anim_color {
    animation-name: letter-color;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes letter-color {

    0%,
    100% {
        color: var(--default-color)
    }

    15%, 85% {
        color: var(--color)
    }
}

/* 
    0%   default-color
    15%  color
    85%  color
    100% default-color
*/