.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: center;
}

.header>div:first-child {
    color: #525252;
}

.palette {
    flex: 1;
    display: flex;
    width: 100%;
}

.colorColumn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.colorColumn>div:last-child {
    font-size: 4em;
    position: absolute;
    right: 0px;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    
}


.hexText {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
    padding-bottom: 25px;
}
.hexText>div:first-child {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.hexText>div:last-child {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8em;
}