.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: white;
}

.header>div:first-child {
    color: #525252;
}

.palette {
    flex: 1;
    display: flex;
    width: 100%;
}