.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: center;
}

.header>div:first-child {
    color: #525252;
}

.palette {
    flex: 1;
    display: flex;
    width: 100%;
}

.colorColumn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.colorColumn:last-child .plusAdd {
    right: 20px;
}
.colorColumn:hover .variousUI {
    opacity: 1;
}

.variousUI {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}
.variousUI>img {
    margin-bottom: 25px;
}

.plusAdd {
    position: absolute;
    right: -20px;
    z-index: 20;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
    color: #333;
    opacity: 0;
    transition: transform 0.15s;
}
.plusAdd:hover {
    opacity: 1;
    transform: scale(1.4);
}


.hexText {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
    padding-bottom: 25px;
}
.hexText>div:first-child {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}
.hexText>div:last-child {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8em;
}