body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
}

video{
    aspect-ratio: 4/3;
    width: 500px;
    height: 500px;
}

.video_box{
    padding: 10px;
    padding-top: calc(10px - 50%);
    padding-bottom: calc(10px - 50%);
    background-color: black;    
}

.box{
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    width: fit-content;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}