.card {
    background-color: var(--bg-initial);
    color: var(--text-initial);
    padding: 35px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
    user-select: none;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: start;
}
.card:hover {
    background-color: var(--text-initial) !important;
    color: white;
    transform: scale(1.07);
}

.card:hover>div,
.card:hover .bottom {
    color: white;
}

.card>div:first-child {
    font-size: 3.7em;
    font-weight: bold;
    line-height: 0.95;
}
.card>div {
    font-size: 1.2em;
    
}

.bottom {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .card {
        min-height: 275px;
    }
}

@media (max-width: 900px) {
    .card {
        min-height: 200px;
    }
}