.container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 35px;
    color: rgb(70, 70, 217);
    font-weight: bold;
}

.menu {
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 20px;
}