.container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: white;
    border: 1px solid rgba(200, 200, 200, 0.5);

    position: fixed;
    z-index: 1000;
}

.title {
    font-size: 35px;
    color: rgb(70, 70, 217);
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.menu {
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 20px;
}