.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;

    align-items: center;
}

.footer_top {
    display: flex;
    max-width: 1500px;
    flex-wrap: nowrap;
    padding: 50px 0;
}

.footer_bottom {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    height: 100px;
    align-items: center;
}

.box {
    display: flex;
}

.box>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.box>ul>li {
    margin-top: 10px;
}

.box>ul>li:first-child {
    margin-bottom: 50px;
    margin-left: 10px;
}