.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0 clamp(30px, 5vw, 60px);
}

.footer_top {
    display: flex;
    padding: 50px 0;
}

.footer_bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.box {
    display: flex;
    width: 50%;
}

.box>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}