body{
    font-family: 'Open Sans',sans-serif;
    background: #4F4760;
    margin: 0;
}
.title{
    margin-top: 50px;
    font-size: 3.5em;
    font-weight: bold;
}
.container_1{
    width: 100%;
    height: 80px;
    background-color: white;
    
}
.pos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 100%;
    margin: auto;
}
.container_2>.pos{
    width: auto;
}
.container_1>.pos>img{
    width: 75px;
    height: 40px;
    margin-right: auto;
}
.menu>.hover{
    margin-left: 25px;
}
.hover:hover{
    color: #4cb992;
}

.container_2{
    color: white;
    text-align: center;
}
.container_2>div:nth-child(2){
    line-height: 1.5;
    font-size: 1.25em;
    margin-top: 25px;
    margin-bottom: 100px;
}

.grid{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 20px;
}


.box.color_1{
    background-color: #8b74ba;
}
.button.color_1{
    color: #8b74ba;
}
.box.color_2{
    background-color: #4cb992;
}
.button.color_2{
    color: #4cb992;
}
.box.color_3{
    background-color: #3499e1;
}
.button.color_3{
    color: #3499e1;
}
.box.box.color_4{
    background-color: #eb9d53;
}
.button.color_4{
    color: #eb9d53;
}

.top.color_1{
    color: #8b74ba;
}
.top.color_2{
    color: #4cb992;
}
.top.color_3{
    color: #3499e1;
}
.top.color_4{
    color: #eb9d53;
}

.button.color_1:hover{
    background-color: #ccc1e3;
}
.button.color_2:hover{
    background-color: #baefdc;
}
.button.color_3:hover{
    background-color: #a8d4f3;
}
.button.color_4:hover{
    background-color: #f7d6b7;
}

.button{
    background-color: white;
    font-size: 1.25em;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 12px 30px 13px 30px;
    box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.box{
    width: 275px;
    height: 400px;
    border-radius: 15px;
}
.box>div:last-child{
    margin-top: 30px;
}

.top{
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: -51px;
}
.top>div:first-child{
    font-size: 1.25em;
    font-weight: bold;
}
.top>div:nth-child(2){
    font-size: 3em;
    font-weight: bold;
    margin-top: 10px;
}
.top>div:nth-child(3){
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 5px;
}
.bottom{
    padding: 20px 20px 20px 20px;
    line-height: 2;
    letter-spacing: 2px;
    color: whitesmoke;
}
