.style{
    margin: 0 auto;
    text-align: center;
    max-width: 1500px;
    margin-bottom: 175px;
}

.style>div:first-child {
    margin-bottom: 75px;
    font-size: 1.1em;
    color: #525252;
    text-transform: uppercase;
}

.grider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 100px;
}


@media (max-width: 1200px) {
  .grider {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .grider {
    grid-template-columns: 1fr;
  }
}