.split_screen {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.screen_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 40px;
}

.screen_right {
    width: 50%;
    background: no-repeat;
    background-size: cover;
}

.register_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    width: 100%;
    align-self: center;
}

.register_box>div,.register_box>a {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
}

.register_box>div:first-child {
    font-size: 3em;
    font-weight: bolder;
}
.register_box>div:nth-child(2) {
    font-size: 1.15em;
    color: #525252;
}

input {
    width: 100%;
    border-radius: 10px;
    padding: 15px 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 0.95em;
    font-family: "Inter",sans-serif;
    border: rgba(200, 200, 200, 0.5) 1px solid;
}

input:hover {
    border-color: #525252;
}




@media (max-width: 900px) {
  .screen_right {
    width: 0;
  }
  .screen_left {
    width: 100%;
  }
}