

body {
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 29%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.3) 100%), url('./imgs/Background.jpeg');
    margin: 0;

}

img{
    width: 350px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
 
}

.pos{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.flex{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 1000px;

}

.container_1{
    display: flex;
    height: 66%;
}
.container_2{
    display: flex;
    margin-top: 5px;
}

.right{
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    box-sizing: border-box;
}

.box_1{
    background-color: #bfa065;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    font-family: sans-serif;
    width: 33%;
    height: 96%;
}
.box_1>div:first-child{
    font-size: 2em;
}
.box_1>div:nth-child(2){
    margin-top: 25px;
    line-height: 2;
    font-size: 1.10em;
}

.box_2{
    width: 50%;
    display: flex;
    justify-content: center;
}
.box_2>img{
    background-image: url('./imgs/1.jpeg');
}
.box_2>img:hover{
    background-image: url('./imgs/CarTheRockReal.png');
}

.box_3{
    width: 50%;
    display: flex;
    justify-content: center;
}

.box_4{
    color: #bfa065;
    font-size: 3.5em;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
}
.box_4>div{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.box_5{
    width: 50%;
    display: flex;
    justify-content: center;
}

.box_6{
    width: 33%;
}

.box_7{
    background-color: white;
    padding: 25px;
    font-family: sans-serif;
    line-height: 2;
    width: 60%;
}
.box_7>div:nth-child(2){
    margin: 30px auto 0 0;
}
.box_7>div>a{
   
    background-color: white;
    color: #454545;
    border: 2px;
    border-style: solid;
    text-transform: uppercase;
    padding: 10px 30px;
}
.box_7>div>a:hover{
    background-color: #454545;
    color: white;
}