

body {
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 1) 29%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.3) 100%), url('./imgs/Background.jpeg');
    margin: 0;
}

img{
    width: 350px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
 
}

.pos{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    
   

}




.box_1{
    background-color: #bfa065;
    grid-row-start: 1;
    grid-row-end: 3;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    font-family: sans-serif;
}
.box_1>div:first-child{
    font-size: 2em;
}
.box_1>div:nth-child(2){
    margin-top: 25px;
    line-height: 2;
    font-size: 1.10em;
}

.box_2>img{
    background-image: url('./imgs/1.jpeg');
}
.box_2>img:hover{
    background-image: url('./imgs/CarTheRockReal.png');
}


.box_4{
    color: #bfa065;
    font-size: 3.5em;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 20px;
}
.box_4>div{
    margin-top: 20px;
}

.box_7{
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 25px;

    font-family: sans-serif;
    line-height: 2;
}
.box_7>div:nth-child(2){
    margin: 30px auto 0 0;
}
.box_7>div>a{
   
    background-color: white;
    color: #454545;
    border: 2px;
    border-style: solid;
    text-transform: uppercase;
    padding: 10px 30px;
}
.box_7>div>a:hover{
    background-color: #454545;
    color: white;
}