header {
    width: 100%;
    height: 175px;
    padding: 0 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.leftSide {
    display: flex;
    align-items: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightSide>div:first-child {
    margin-top: 20px;
    color: grey;
}
.rightSide>div:first-child>a {
    margin-right: 15px;
}

.mainText {
    color: grey;
}

.title {
    display: flex;
    font-size: 3em;
}
.title>div:first-child {
    color: black;
}

.cartBar {
    display: flex;
    background-color: grey;
    color: white;
    min-width: 275px;
    height: 50px;
    font-weight: bold;
    border: 5px solid rgb(243, 243, 243);
}
.cartBar>div:first-child {
    background-color: rgb(59, 59, 59);
    width: 35px;
    
}
.cartBar>div:last-child {
    display: flex;
    padding: 10px;
}
.cartBar>div:last-child>div:nth-child(2) {
    font-weight: normal;
}

.searchBar {
    min-width: 275px;
    height: 50px;
    border: 5px solid rgb(243, 243, 243);
}
.searchBar>input {
    padding: 10px;
    width: 100%;
    height: 100%;
   
    
}