header {
    width: 100%;
    height: 175px;
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topRow {
    display: flex;
    gap: 20px;
    justify-content: end;
    color: grey;
}

.bottomRow {
    display: flex;
    justify-self: end;
    justify-content: space-between;
    align-items: center;
}

.mainText {
    color: grey;
}

.title {
    display: flex;
    font-size: 3em;
}
.title>div:first-child {
    color: black;
}

.barGap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartBar {
    display: flex;
    background-color: grey;
    color: white;
    min-width: 275px;
    font-weight: bold;
}

.cartBar>div:first-child {
    background-color: rgb(59, 59, 59);
    width: 35px;
    
}
.cartBar>div:last-child {
    display: flex;
    padding: 10px;
}
.cartBar>div:last-child>div:nth-child(2) {
    font-weight: normal;
}

.searchBar {
    min-width: 275px;
}

.searchBar>input {
    padding: 10px;
}